# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080

# Backend
DATABASE_URL=postgres://postgres:password@db:5432/nintei
RUST_LOG=info

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=nintei

# Claude API
ANTHROPIC_API_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
